{
    "documentation":
    {
        "line1": "This is a template file that is intended to show you how to format your own actual configuration file", 
        "line2": "Name your own config file as this file is named WITHOUT the .template extension."
    },
    "config":
    {
        "todoistApiTokenGuid": "The GUID that points to the API token in the Todoist API.  See:  https://pypi.org/project/cred-manage/"
    }
}